<!-- <form [formGroup]="formCadastro">
    <div class="form-group">
        <input formControlName="Nome" placeholder="Nome" type="text" class="form-control">
    </div>
    <div class="form-group">
        <input formControlName="Sobrenome" placeholder="Sobrenome" type="text" class="form-control">
    </div>
    <div class="form-group">
        <input formControlName="Email" placeholder="Email" type="email" class="form-control">
    </div>
    <div class="form-group">
        <input  formControlName="Senha" placeholder="Senha" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" (click)="submit()" class="btn btn-primary btn-lg btn-block login-button">Cadatrar</button>
    </div>
</form> -->

<div class="fadeIn first">
    <header class="login-cta">
        <h2>Cadastro</h2>
    </header>
    <img src="../../../../../assets/img/loginChat.png" id="icon" alt="CPA Image" width="180px" height="100px" />
</div>
<form [formGroup]="formCadastro">
    <div class="form-row fadeIn second">
        <input type="text" formControlName="Nome" required>
        <span>Nome</span>
    </div>
    <div class="form-row fadeIn second">
        <input type="text" formControlName="Sobrenome" required>
        <span>Sobrenome</span>
    </div>
    <div class="form-row fadeIn second">
        <input type="email" formControlName="Email" required>
        <span>Email</span>
    </div>
    <div class="form-row fadeIn third">
        <input type="password" formControlName="Senha" required>
        <span>Senha</span>
    </div>
    <div class="form-row fadeIn fourth"></div>
    <div class="form-row fadeIn fourth">
        <button type="submit" (click)="submit()">Cadastrar</button>
    </div>
    <header>
        <h2></h2>
    </header>
    <div class="form-row fadeIn fourth">
        <a (click)="onClickLogin()" class="logar">Login</a>
    </div>
</form>