<div class="wrapper">
  <nav class="main-header navbar navbar-expand" [ngStyle]="{ 'background-color': background,color:color }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="javascript:void(0)">
          <span class="mr-3" [ngStyle]="{color:color }">{{usuario?.Nome}}</span>
          <img [src]="usuario?.UrlFoto ? env+usuario.UrlFoto : '../../../../assets/img/usuarioFoto.png'" width="30"
            height="30" class="d-inline-block align-top" alt="" loading="lazy" class="rounded float-right">
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" type="button" (click)="sair()">
          <i class="fa fa-power-off" [ngStyle]="{color:color }"></i>
        </a>
      </li>
    </ul>
  </nav>


  <!-- Sidebar -->
  <aside class="main-sidebar elevation-4" [ngStyle]="{ 'background-color': background }">
    <a href="javascript:void(0)" class="brand-link">
      <span class="brand-text font-weight-light">
        <p class=" text-center" [ngStyle]="{color:color }">NJL</p>
      </span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-envelope" [ngStyle]="{color:color }"></i>
              <p [ngStyle]="{color:color }">
                Mensagens
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa fa-tint" [ngStyle]="{color:color }"></i>
              <input type="range" class="custom-range" min="1" max="2" value="1" id="customRange3"
                (change)="SliderValue($event)" (oninput)="SliderValue($event)">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>


  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="container">
        <div class="space"></div>

        <div class="posts">
          <app-lista></app-lista>
        </div>

        <div class="content">
          <div class="container-fluid">
            <!--Adicionar mais funcionalidades-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="control-sidebar control-sidebar-dark">
    <div class="p-3">
    </div>
  </aside>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
    </div>
    <strong>Copyright &copy; 2020 <a href="javascript:void(0)">Nayara-Julia-Leticia</a>.</strong>
  </footer>
</div>