<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="javascript:void(0)">
          <span class="mr-3">{{usuario?.Nome}}</span>
          <img [src]="usuario?.UrlFoto ? env+usuario.UrlFoto : '../../../../assets/img/usuarioFoto.png'" width="30"
            height="30" class="d-inline-block align-top" alt="" loading="lazy" class="rounded float-right">
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" type="button" (click)="sair()">
          <i class="fa fa-power-off"></i>
        </a>
      </li>
    </ul>
  </nav>


  <!-- Sidebar -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="javascript:void(0)" class="brand-link">
      <span class="brand-text font-weight-light">
        <p class=" text-center">NJL</p>
      </span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-envelope"></i>
              <p>
                Mensagens
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-gear"></i>
              <p>
                Configuração
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>


  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="container">
        <div class="space"></div>


        <!-- <router-outlet></router-outlet> -->
        <div class="card card-primary direct-chat direct-chat-primary">
          <div class="card-header">
            <h3 class="card-title">Posts</h3>
          </div>
          <div class="card-body">
            <div class="direct-chat-messages">
              <div class="direct-chat-msg right">
                <div class="direct-chat-infos clearfix">
                  <span class="direct-chat-name float-right">Nome do Autor</span>
                  <span class="direct-chat-timestamp float-left">Data de criação</span>
                </div>
                <img class="direct-chat-img"
                  [src]="usuario?.UrlFoto ? env+usuario.UrlFoto : '../../../../assets/img/usuarioFoto.png'">
                <div class="direct-chat-text">
                  <div class="conteudo">Conteudo</div>
                  <div class="config">
                    <a data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="Deletar"><i class="fa fa-trash"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <form [formGroup]="formMensagem">
              <div class="input-group">
                <input formControlName="Conteudo" type="text" name="message" placeholder="Digite sua mensagem ..."
                  class="form-control">
                <span class="input-group-append">
                  <button class="btn btn-primary" type="submit" (click)="submit()">Enviar</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <!-- <router-outlet></router-outlet> -->


        <div class="content">
          <div class="container-fluid">
            <!--Adicionar mais funcionalidades-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="control-sidebar control-sidebar-dark">
    <div class="p-3">
    </div>
  </aside>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
    </div>
    <strong>Copyright &copy; 2020 <a href="javascript:void(0)">Nayara-Julia-Leticia</a>.</strong>
  </footer>
</div>