.space {
  height: 20px;
}
.fa-power-off:before{
  color: #cccccc;
  font-size: 23px;
}
.fa,.conteudo{
  padding: 5px 8px;
  color: #ffffff;
  font-size: 17px;
}
.direct-chat-name{
  font-style: italic;
}