.space {
  height: 20px;
}
.fa-power-off:before,
.nav-pills .nav-link,
a {
  color: #cccccc;
  font-size: 23px;
}
.custom-range {
  width: 40%;
}

.btn input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  max-height: 80%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: transparent;
  cursor: inherit;
  display: block;
}
.sub{
  width: 370px;
}

