/* form{
    margin:120px auto;
  } */

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover {
  color: #56baed;
  cursor: pointer;
  border-bottom: 1px #56baed dotted;
}
.login-cta > h2 {
  color: #56baed;
  font-size: 1.75rem;
  text-align: center;
}

form {
  margin: 2em 0;
  font-size: 12px;
}
form > .form-row {
  display: flex;
  margin: 0.75em 0;
  position: relative;
}
form > .form-row > span {
  background: #fff;
  color: #adafca;
  display: inline-block;
  font-weight: 400;
  left: 1em;
  padding: 0 0.5em;
  position: absolute;
  pointer-events: none;
  transform: translatey(-50%);
  top: 50%;
  transition: all 300ms ease;
  user-select: none;
}
form > .form-row > input,
form > .form-row > button {
  border-radius: 0.5em;
  font-family: inherit;
  padding: 1em 0.5em;
  width: 100%;
}
form > .form-row > input {
  font-weight: bold;
  transition: 100ms ease all;
  width: 100%;
}
form > .form-row > input[type="text"],
form > .form-row > input[type="password"] {
  border: 0.075em solid #ddd;
}
form > .form-row > input:valid + span {
  top: 0;
  font-size: 0.9rem;
}
form > .form-row > input:invalid + span {
  top: 50%;
}
form > .form-row > input:focus + span {
  top: 0;
}
form > .form-row > input:required {
  box-shadow: none;
}
form > .form-row > input:focus {
  border-color: #56baed;
  outline: none;
  color:#757683;
}
form > .form-row > input:focus:invalid {
  box-shadow: none;
  top: 50%;
}
form > .form-row > input:focus:valid {
  top: 0;
}
form > .form-row > button {
  background-color: rgb(86, 186, 237);
  border: 0.1em solid #56baed;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}
form > .form-row > button:focus {
  border: 0.1em solid #56baed;
  outline: none;
}
form > .form-row > button:hover {
  background-color: #56baed;
}
header > h2 {
  color: #56baed;
  text-align: center;
  padding: 2px 2px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.logar.cadastro{
  margin-top: 100px;
}