<div class="direct-chat-msg right mt-3">
    <div class="direct-chat-infos clearfix">
        <span class="direct-chat-name float-right">
            {{messageVarClasse.Usuario.Nome}}
        </span>
        <span class="direct-chat-timestamp float-left">
            {{messageVarClasse.DataCriacao | date:'dd/MM/yyyy'}} -
            {{messageVarClasse.DataCriacao | date:'hh:mm'}}
        </span>
    </div>
    <img class="direct-chat-img"
        [src]="messageVarClasse.Usuario?.UrlFoto ? env+messageVarClasse.Usuario.UrlFoto : '../../../../assets/img/usuarioFoto.png'">
    <div class="direct-chat-text">
        <div class="conteudo">
            {{messageVarClasse.Conteudo}}
        </div>
        <div class="config" *ngIf="show">
            <a type="button" (click)="editarService(messageVarClasse)" data-toggle="tooltip" data-placement="top"
                title="Editar"><i class="fa fa-edit"></i></a>
            <a type="button" (click)="deletarService(messageVarClasse)" data-toggle="tooltip" data-placement="top"
                title="Deletar"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>