<div class="card-header">
    <h3 class="card-title">Posts</h3>
</div>
<div class="card-body">
    <div class="direct-chat-messages">
        <div class="direct-chat-msg right">
            <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Nome do Autor</span>
                <span class="direct-chat-timestamp float-left">Data de criação</span>
            </div>
            <!-- <img class="direct-chat-img"
                [src]="usuario?.UrlFoto ? env+usuario.UrlFoto : '../../../../assets/img/usuarioFoto.png'"> -->
            <div class="direct-chat-text">
                Conteudo
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <!-- <form [formGroup]="formMensagem">
        <div class="input-group">
            <input formControlName="Conteudo2" type="text" name="message" placeholder="Digite sua mensagem ..."
                class="form-control">
            <span class="input-group-append">
                <button class="btn btn-primary" type="submit" (click)="submit()">Enviar</button>
            </span>
        </div>
    </form> -->
</div>